<nav class="fs-normal bb pb3 mv4 flex items-center justify-between" style="height:53px">
    <ul class="list pl0 mv0 h-100 flex items-center" style="justify-content: flex-start;">
        <li class="pr3"><a class="link blue hover-gold bg-animate hover-bg-black-80 f6 f5-l dib pa2 ph3" href="/">See all posts</a></li>
    </ul>
    <ul class="list pl0 mv0 h-100 flex items-center" style="justify-content: flex-end;">
        <li class="pl3"><a class="link blue hover-gold bg-animate hover-bg-black-80 f6 f5-l dib pa2 ph3" href="/">Blog</a></li>
        <li class="pl3"><a class="link blue hover-gold bg-animate hover-bg-black-80 f6 f5-l dib pa2 ph3" href="/">About</a></li>
    </ul>
</nav>
