<div class="fl w-25 ph4">
    <h1 class="bb pb3 mv4">{{ .Site.Title }}</h1>
    <div id="sidebar-header">
        <h3 class="f4 lh-copy mb1 mt3">About me</h3>
        <p>I like stuff.</p>
    </div>
    <div>
        <h3>Find me on</h3>
        <ul class="list pl0">
            <li class="pb2">
                <a class="link underline blue hover-gold" href="https://github.com/{{ .Site.Params.GithubUser }}" target="_blank">Github</a>
            </li>
            <li class="pb2">
                <a class="link underline blue hover-gold" href="https://www.linkedin.com/in/caleb-williams-9825a86a" target="_blank">LinkedIn</a>
            </li>
        </ul>
    </div>
</div>
