{{ define "main" }}

<div class="main pa3 sans-serif">

    {{ partial "sidebar.html" . }}

    <div class="fl w-75 ph4 bl h-100">

        {{ partial "nav.html" . }}
        
        <div>
        {{- $paginator := .Paginator -}}
        {{- range $paginator.Pages.ByPublishDate.Reverse }}
            <article class="article bb b--light-silver pb3">
                <div class="mb3">
                    <h3 class="f4 lh-copy mb1 mt3">
                        <a class="link underline-hover blue" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h3>
                    <small class="gray">{{ .Date.Format (default "Mon, Jan 2, 2006" $.Site.Params.dateFormat) }}</small>
                </div>
                <div class="black-60">{{ .Summary | markdownify }}</div>
            </article>
            {{- end }}
        </div>
    </div>
</div>

{{ end }}
