{{ define "main" }}

<div class="main pa3 sans-serif">

    {{ partial "sidebar.html" . }}

    <div class="fl w-75 ph4 bl h-100">
        <nav class="fs-normal bb pb3 mv4 flex items-center justify-between" style="height:53px">
            <ul class="list pl0 mv0 h-100 flex items-center" style="justify-content: flex-start;">
                <li class="pr3"><a class="link blue hover-gold bg-animate hover-bg-black-80 f6 f5-l dib ml4-l pa2" href="/">See all posts</a></li>
            </ul>
            <ul class="list pl0 mv0 h-100 flex items-center" style="justify-content: flex-end;">
                <li class="pl3"><a class="link blue hover-gold bg-animate hover-bg-black-80 f6 f5-l dib ml4-l pa2" href="/">Blog</a></li>
                <li class="pl3"><a class="link blue hover-gold bg-animate hover-bg-black-80 f6 f5-l dib ml4-l pa2" href="/">About</a></li>
            </ul>
        </nav>
        <!-- <p class="fs-normal bb pb2 ">Welcome to the blog!</p> -->
        <div>
        {{- $paginator := .Paginator -}}
        {{- range $paginator.Pages.ByPublishDate.Reverse }}
            <article class="article bb b--light-silver pb3">
                <div class="mb3">
                    <h3 class="f4 lh-copy mb1 mt3">
                        <a class="link underline-hover blue" href="{{ .Permalink }}">{{ .Title }}</a>
                    </h3>
                    <small class="gray">{{ .Date.Format (default "Mon, Jan 2, 2006" $.Site.Params.dateFormat) }}</small>
                </div>
                <div class="black-60">{{ .Summary }}</div>
            </article>
            {{- end }}
        </div>
    </div>
</div>

{{ end }}
